.slidingtabContainer {
  ::ng-deep .example-sidenav-content[_ngcontent-ng-c3745964948] {
    background-color: #22263d;
  }

  .container {
    width: 100% !important;
  }

  .col-md-3 {
    padding-bottom: 20px;
  }

  .mat-mdc-form-field {
    width: 100%;
  }

  // ::ng-deep {
  //     .mat-mdc-tab-body-wrapper {
  //         background: #171a2e;
  //     }
  // }

  .tabs1 {
    ::ng-deep {
      .mat-mdc-tab-header {
        margin: 23px auto;

        .mat-mdc-tab-label-container {
          background: #151727;
          padding: 5px;
          border-radius: 30px;
        }

        .mdc-tab__text-label {
          font-size: 14px;
          font-weight: normal;
          color: #cccfde !important;
        }

        ::ng-deep .mat-mdc-tab.mdc-tab--active {
          .mdc-tab__text-label {
            color: #6ba7ff !important;
          }
        }

        .mat-mdc-tab .mat-ripple-element {
          opacity: 0.12;

          background-color: #080912;
        }

        .mat-mdc-tab:hover .mdc-tab__ripple::before {
          opacity: 0.04;

          background-color: #080912;
        }

        .mat-mdc-tab.mdc-tab--active .mdc-tab__ripple::before,
        .mat-mdc-tab.mdc-tab--active .mat-ripple-element {
          opacity: 0.04;

          background-color: #080912;
        }

        .mat-mdc-tab-body-wrapper {
          background: #171a2e;

          box-shadow: 0px 0px 1px #fff;
        }

        .mat-mdc-tab {
          .mdc-tab-indicator__content--underline {
            border: none;
            background: #474c67;
            border-radius: 30px;
            height: 50px;
          }
        }
      }

      .inner-tabs {
        .generic-tab {
          .position-relative {
            .mat-mdc-tab-body-wrapper {
              background: #171a2e;
              box-shadow: none;
            }
          }

          .mat-card {
            justify-content: left !important;
          }

          .mat-mdc-tab-label-container {
            background: none !important;
          }

          .mat-mdc-tab-header {
            margin: 0 !important;
          }

          .mat-mdc-tab .mdc-tab-indicator__content--underline {
            border-color: var(--tabBorder) !important;
            background: none !important;
            border-radius: 0px !important;
          }

          .mat-mdc-tab-header
            .mat-mdc-tab
            .mdc-tab-indicator__content--underline {
            border-bottom: 3px solid Blue !important;
          }

          .mat-mdc-tab.mdc-tab--active:hover
            .mdc-tab-indicator__content--underline {
            border-color: var(--tabBorder) !important;
          }

          .mat-mdc-tab:hover .mdc-tab__ripple::before {
            opacity: 0.04;
            background-color: #080912;
          }

          .mat-mdc-tab.mdc-tab--active .mdc-tab__ripple::before,
          .mat-mdc-tab.mdc-tab--active .mat-ripple-element {
            opacity: 0.04;
            background-color: #080912;
          }

          .mat-mdc-tab-body-wrapper {
            background: #171a2e;
            box-shadow: 0px 0px 1px #fff;
          }

          .mat-mdc-tab .mat-ripple-element {
            opacity: 0.12;

            background-color: #080912;
          }

          h3 {
            font-size: 21px;
            line-height: 31px;
            font-family: "SLB Sans";
            color: #adb1c7;
            margin: 20px 40px;
          }

          .mat-mdc-tab.mdc-tab {
            flex-grow: 0 !important;
            padding-left: 10px;
            padding-right: 5px;
          }
        }
      }

      @media (max-width: 960px) {
        ::ng-deep {
          .mat-mdc-tab-header {
            margin: 20px 0;
          }
        }
      }
    }

    .flex-container {
      display: flex;
    }

    .flex-child {
      flex: 1;
      border: 2px solid yellow;
    }

    .flex-child:first-child {
      margin-right: 20px;
    }
  }

  .mat-mdc-tab-body-wrapper-block {
    background: #171a2e;
    box-shadow: 0px 0px 1px #fff;
    min-height: 500px;

    p {
      text-align: center;
      color: var(--white);
      padding: 20% 20%;
    }
  }
}

mat-card {
  border: 1px solid #8b90ad;
  background-color: #171a2e;
  border-radius: 6px;
  padding: 20px;
  display: block;
  width: 100%;
  float: left;
  text-align: center;

  p,
  span {
    display: inline-flex;
  }

  p {
    padding-right: 30px;
    margin: 0px;
    font-size: 14px;
    color: #6c7191;
    font-family: "SLB Sans Medium";
    text-transform: uppercase;
    font-weight: 500;
  }

  span {
    font-size: 16px;
    color: #ebecf2;
    font-weight: 700;
    letter-spacing: 5%;

    mat-card {
      border: 1px solid #8b90ad;
      background-color: #171a2e;
      border-radius: 6px;
      padding: 20px;
      display: block;
      width: 100%;
      float: left;
      align-items: center;

      p,
      span {
        display: inline-flex;
      }

      p {
        padding-right: 30px;
        margin: 0px;
        font-size: 14px;
        color: #6c7191;
        font-family: "SLB Sans Medium";
        text-transform: uppercase;
        font-weight: 500;
      }

      span {
        font-size: 16px;
        color: #ebecf2;
        font-weight: 700;
        letter-spacing: 5%;
      }
    }
  }
}

//Charting css
.graph-section {
  margin: 15px;

  .icons-section {
    display: flex;
    justify-content: end;

    ul {
      li {
        list-style: none;
        display: inline-block;
        vertical-align: middle;
        padding-right: 10px;

        button {
          min-height: 48px;
        }
      }
    }
  }
}

.select-filter.chartingWrapper {
  width: 510px !important;
}

.charting-filter {
  ::ng-deep .wellifo-accordion {
    margin-top: 20px;

    .mat-expansion-panel-content {
      .mat-expansion-panel-body {
        padding: 25px;
      }
    }

    .mat-accordion {
      margin-bottom: 10px;
      width: 100%;
      display: block;
    }

    .col-md-6 {
      width: 50% !important;
    }

    ul {
      margin: 0px;
      padding: 0px;

      li {
        list-style: none;
        width: 100%;
        display: block;
        padding-bottom: 40px;

        &:last-child {
          padding-bottom: 0px;
        }

        .label {
          font-size: 16px;
          color: #ebecf2;
          font-family: "SLB Sans Regular";
        }
      }
    }

    .mat-expansion-panel {
      background: #171a2e;
      border: 1px solid #8b90ad;
      border-radius: 10px;
    }

    .mat-expansion-panel:not(.mat-expanded)
      .mat-expansion-panel-header:hover:not([aria-disabled="true"]) {
      background: none !important;
    }

    .select-filter-action-btn {
      padding: 0px;
    }

    .select-filter-action-btn .action-btn {
      width: 70px;
    }

    h3 {
      font-size: 16px;
      font-family: "SLB Sans Regular" !important;
      line-height: 32px;
      font-weight: 500;
      color: #adb1c7 !important;
      margin: 0px;
      padding-left: 30px;
    }

    .mat-expansion-indicator {
      position: absolute !important;
      left: 30px;
    }

    .select-filter {
      padding: 17px 17px 0 17px;
    }

    // .mdc-label{
    //     display: none !important;
    // }
    mat-radio-button {
      width: auto;
      display: inline-block;
    }

    .select-field .mat-mdc-radio-group .mat-mdc-radio-button .mdc-form-field {
      width: 100% !important;
    }

    .calender-alrt-filter-action-btn-grp {
      border-top: none !important;
      padding: 20px !important;
    }

    .accordion-content {
      p,
      span {
        padding: 10px;
        margin: 0px;
        display: block;

        &:first-child {
          border-bottom: 1px solid #8b90ad;
        }

        &:last-child {
          border-top: 1px solid #8b90ad;
        }
      }

      p {
        font-size: 12px;
        color: #6c7191;
        line-height: 16px;
        font-weight: 500;
        font-family: "SLB Sans Regular" !important;
      }

      span {
        font-size: 23px !important;
        font-family: "SLB Sans Regular" !important;
        font-weight: 700;
        color: #ebecf2;
      }
    }

    .mat-expansion-panel-header {
      height: 60px;
      border-bottom: 1px solid #ebecf2;
      border-radius: 2px;
    }

    .container {
      width: 100%;

      mat-card {
        background-color: #171a2e;
        border: 1px solid #8b90ad;
        border-radius: 6px;
        min-height: 130px;
        justify-content: center;
      }
    }

    .top-icons {
      ul {
        margin: 0px;

        li {
          display: inline-block;
          padding-right: 10px;
          vertical-align: middle;
        }
      }
    }

    .example-action-buttons {
      padding-bottom: 20px;
    }

    .example-headers-align .mat-expansion-panel-header-title,
    .example-headers-align .mat-expansion-panel-header-description {
      flex-basis: 0;
    }

    .example-headers-align .mat-expansion-panel-header-description {
      justify-content: space-between;
      align-items: center;
    }

    .example-headers-align .mat-form-field + .mat-form-field {
      margin-left: 8px;
    }

    .my-panel {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }
}

.demo-section,
html.k-material .demo-section {
  overflow: hidden;
  padding: 0;
  border: 0;
  box-shadow: none;
}

#agglomerations {
  position: relative;
  width: 692px;
  height: 480px;
  margin: 0 auto;
  background: url("../../../../assets/images/sh_diesel_injection_pump_cycle.jpg")
    no-repeat 0 0;
}

#agglomerations span {
  cursor: pointer;
  position: absolute;
  display: block;
  //  width: 12px;
  //  height: 12px;
  //background-color: #051464;
  background: url("../../../../assets/images/icons8-info-16.png") no-repeat 0 0;
  background-size: 100%;
  //  -moz-border-radius: 30px;
  //  -webkit-border-radius: 30px;
  //  border-radius: 30px;
  //  border: 0;
  //  -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
  //  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
  //  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
  //  -moz-transition: -moz-box-shadow .3s;
  //  -webkit-transition: -webkit-box-shadow .3s;
  //  transition: box-shadow .3s;
  height: 25px;
  width: 25px;
}

#agglomerations span:hover {
  //  -moz-box-shadow: 0 0 0 15px rgba(0, 0, 0, 0.5);
  //  -webkit-box-shadow: 0 0 0 15px rgba(0, 0, 0, 0.5);
  //  box-shadow: 0 0 0 15px rgba(0, 0, 0, 0.5);
  //  -moz-transition: -moz-box-shadow .3s;
  //  -webkit-transition: -webkit-box-shadow .3s;
  //  transition: box-shadow .3s;
}

#canton {
  top: 226px;
  left: 501px;
}

#jakarta {
  top: 266px;
  left: 494px;
}

#mexico {
  top: 227px;
  left: 182px;
}

#delhi {
  top: 214px;
  left: 448px;
}

#karachi {
  top: 222px;
  left: 431px;
}

#newyork {
  top: 188px;
  left: 214px;
}

#saopaolo {
  top: 304px;
  left: 248px;
}

#bombay {
  top: 233px;
  left: 438px;
}

#losangeles {
  top: 202px;
  left: 148px;
}

#osaka {
  top: 201px;
  left: 535px;
}

#moscow {
  top: 153px;
  left: 402px;
}

#canton:hover,
#jakarta:hover,
#mexico:hover,
#delhi:hover,
#karachi:hover,
#newyork:hover,
#saopaolo:hover,
#bombay:hover,
#losangeles:hover,
#osaka:hover,
#moscow:hover {
  z-index: 10;
}
